body {background-color: #fec89a;
}
h1 {color: #ffd60a;
}
p    {color: #e63946;}
table{border="1px"}
nav li {
   display: inline-block;
   position: relative;
}
nav li ul {
   display: none;
   position: absolute;
   width: 100px;
   top: 100%;
   padding: 0;
}
nav li:hover > ul {
   display: block;
}
nav a {
}
