body {
  background-color: red;
}
h1 {
  color: blue;
}
hi {
	font: sans-serif;
}
h4 {
	color: #ff77ff;
}


body {
  background-color: red;
}
h1 {
  color: blue;
}
hi {
	font: sans-serif;
}
h4 {
	color: #ff77ff;
}

